---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    // TODO
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="学校法人五島育英会 東京都市大学付属中学校"
      subtitle="2020 to 2023"
    />
    <TimeLineElement
      title="学校法人角川ドワンゴ学園 N高等学校"
      subtitle="2023 to 2024 at 代々木キャンパス"
    />
    <TimeLineElement
      title="学校法人青叡舎学院 勇志国際高等学校 メタバース生"
      subtitle="2024 to current at metaverse"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="SuteraVRの開発"
      subtitle="From 2023/12 to current at SuteraVR"
    >
    </TimeLineElement>
    <TimeLineElement
      title="JVSL/日本仮想学生連盟の立ち上げ"
      subtitle="From 2024/04 to current at JVSL"
    >
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> 日本バーチャルリアリティ学会認定 バーチャルリアリティ技術者 </a>
    </li>
    <li>
      <a href="#" target="_blank"> 実用技能英語検定 2級 </a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>TypeScript</li>
    <li>Rust</li>
  </ul>
</BaseLayout>
